@import  url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #161616;
    color: white;
}

ul{
    list-style: none;
}
li{
    display: inline;
    padding: 0 2rem;
}
li a{
    text-decoration: none;
    color: #54dcf2;
}

.nav-container{
    position: fixed;
    width: 100%;
    background-color: red;
    font-size: 1.5rem;
}

.nav-container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 10vw 5vh 10vw;
    height: 70vh;
}

.img-container, .button-container{
    text-align: center;
}
.img-container{
    width: 60%;

}
.button-container{
    width: 70%;
}

